<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 2 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="expense-container">
    <ion-datetime-button datetime="dateTime"></ion-datetime-button>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          id="dateTime"
          presentation="date"
          [preferWheel]="true"
          [(ngModel)]="dateTime"
          (ngModelChange)="modelChangeFn($event)"
        ></ion-datetime>
      </ng-template>
    </ion-modal>

    <ion-button id="expense-modal" color="tertiary" size="full" shape="round"
      >Add expense</ion-button
    >
  </div>

  <app-expense-list
    [expenses]="expenses$ | async"
    [isEditing]="true"
    (updateEvent)="onUpdate($event)"
    (deleteEvent)="onDelete($event)"
  ></app-expense-list>

  <ion-modal
    trigger="expense-modal"
    [initialBreakpoint]="1"
    [breakpoints]="[0, 1]"
    [isOpen]="isOpen"
    (didDismiss)="onDidDismiss()"
  >
    <ng-template>
      <div class="expense-container__modal">
        <app-expense-form
          [form]="form"
          [categories]="expenseCategories$ | async"
          (formEvent)="onSubmit($event)"
        ></app-expense-form>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>
